body
{
    margin: 0;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#title
{
    color: white;
    margin-left: 5%;
    margin-top: 5%;
}

.start_tile
{
    position: relative;
    padding: 0;
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    border-radius: 10px;
}

.start_tile:hover
{
    background-color: #9400FF;
}

.end_tile
{
    position: relative;
    padding: 0;
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 10px;
}

.end_tile:hover
{
    background-color: #9400FF;
}

.tile
{
    position: relative;
    padding: 0;
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    border-radius: 10px;
}

.tile:hover
{
    background-color: #9400FF;
}

.tile_username
{
    font-size: large;
    font-weight: bold;
    margin: 0;
    margin-left: 3%;
}

#tile_link
{
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 1%;
    display: flex;
    align-items: center;
}

#mess_container
{
    width: 50%;
    height: 100%;
    border: 0.3vw solid #9400FF;
    border-radius: 10px;
}

.tile_profile
{
    border-radius: 15%;
    width: 10%;
    height: auto;
}